@import "../../styles/mixins.scss";

.button {
  --background-color: var(--accent-color);

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 1.8rem;
  background-color: var(--background-color);
  border-radius: 2.4rem;
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
  outline: none;
  @include transition(background-color);

  @media (min-width: 375px) {
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 2rem 1rem var(--accent-shadow-color);
    opacity: 0;
    @include transition(opacity);
  }

  @media (hover: hover) {
    &:hover:not(:active) {
      --background-color: var(--accent-lighten-color);

      &::before {
        opacity: 1;
      }
    }
  }

  &:focus:not(:active) {
    --background-color: var(--accent-lighten-color);

    &::before {
      opacity: 1;
    }
  }

  &:active {
    --background-color: var(--accent-darken-color);
  }

  &--large {
    padding: 1.5rem 2.5rem;
    font-size: 1.8rem;
    font-weight: 800;
    border-radius: 5rem;

    @media (min-width: 375px) {
      padding: 1.8rem 3rem;
      font-size: 2rem;
      font-weight: 800;
      border-radius: 5rem;
    }
  }

  &:disabled,
  &--disabled {
    pointer-events: none;
    background-color: #eee;
    cursor: none;
  }
}
