:root {
  // FONTS
  --default-font: "Manrope", sans-serif;

  // COLORS
  --primary-color: white;
  --invert-color: black;
  --accent-color: #ce3333;
  --accent-lighten-color: #f03d3d;
  --accent-darken-color: #b51818;
  --accent-shadow-color: rgba(206, 0, 0, 0.2);
  --video-border-color: #121217;
  --form-border: rgba(255, 255, 255, 0.3);
  --form-shadow: rgba(0, 0, 0, 0.05);
  --form-field-label-color: #333;
  --form-field-border-color: #d1d1d1;
  --form-accent-color-rgb: 0, 127, 255;

  --default-background-color: var(--primary-color);
  --default-text-color: var(--invert-color);

  // VALUES
  --default-line-height: 1.3;
  --corner: 1.6rem;
}
