@import "../../styles/mixins.scss";

.form-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4rem;

  @media (min-width: 1024px) {
    padding-top: 12rem;
  }

  &__container {
    margin-bottom: 4rem;

    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: 30rem 1fr;
      margin-bottom: 12rem;
      column-gap: 10rem;
      row-gap: 4.5rem;
      padding: 3rem 7rem 5rem;
      border: 1px solid var(--form-border);
      box-shadow: 0 2rem 4rem 0 var(--form-shadow);
      backdrop-filter: blur(1.5rem);
      border-radius: 2rem;
      max-width: 99.6rem;
      width: 100%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    background-image: url("./assets/form-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    pointer-events: none;
    z-index: -1;
  }

  &__block {
    margin-bottom: 2rem;
    padding: 3rem 2rem 5rem;
    border: 1px solid var(--form-border);
    box-shadow: 0 2rem 4rem 0 var(--form-shadow);
    backdrop-filter: blur(1.5rem);
    border-radius: 2rem;

    @media (min-width: 1024px) {
      display: contents;
      margin-bottom: 0;
      padding: 0;
      border: none;
      box-shadow: none;
      backdrop-filter: none;
      border-radius: 0;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 3rem;
    font-weight: 800;
    font-size: 2.6rem;
    color: var(--invert-color);
    text-align: center;

    @media (min-width: 375px) {
      font-size: 3.4rem;
    }

    @media (min-width: 1024px) {
      margin-bottom: 0;
      font-size: 48px;
      text-align: left;
      grid-column: 1 / -1;
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 3.2rem;
    font-weight: 800;
    font-size: 1.6rem;
    color: var(--invert-color);

    @media (min-width: 375px) {
      font-size: 1.8rem;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.6rem;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    column-gap: 1.2rem;
    font-weight: 600;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--invert-color);
    @include transition(color);

    @media (hover: hover) {
      &:hover {
        color: var(--accent-color);
      }
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    opacity: 0.4;
    color: var(--invert-color);
  }
}
