.footer {
  padding-top: 2.4rem;
  padding-bottom: 4rem;

  &__copyright {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--invert-color);
    text-align: center;

    @media (min-width: 1024px) {
      font-weight: 700;
      font-size: 1.6rem;
    }
  }
}
