@import "../../../styles/mixins.scss";

.form-field {
  display: grid;
  row-gap: 0.4rem;
  width: 100%;

  &__label {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--form-field-label-color);

    @media (min-width: 375px) {
      font-size: 1.6rem;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    padding-left: var(--corner);
    padding-right: var(--corner);
    height: 4rem;
    background-color: var(--primary-color);
    border: 0.1rem solid var(--form-field-border-color);
    border-radius: 0.8rem;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--invert-color);
    outline: none;
    @include transition(border-color, box-shadow);

    @media (min-width: 375px) {
      height: 4.8rem;
      font-size: 1.4rem;
    }

    &::placeholder {
      opacity: 0.4;
    }

    &:active,
    &:focus {
      border-color: rgb(var(--form-accent-color-rgb));
      box-shadow: 0 0 0.5rem rgba(var(--form-accent-color-rgb), 0.5);
    }

    @media (hover: hover) {
      &:hover:not(:active):not(:focus) {
        border-color: rgba(var(--form-accent-color-rgb), 0.8);
      }
    }
  }
}
